input[type="text"] {
    margin-bottom: 10px;
}

table {
    width: auto;
    border-collapse: collapse;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #215864;
    color: white;
}

.page-link {
    cursor: pointer;
    text-decoration: none;
    color: #215864;
}

.page-link:hover {
    background-color: #215864;
    color: white;
}

.parent-container{
    display: flex;
    justify-content: center;
}

/* Rounded container styling */
.rounded-container {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    max-width: 300px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded-container input[type="text"] {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.rounded-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.outsideReset {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}
.outsideReset:hover {
    background-color: #45a049;
}


.centerReset {
    display: flex;
    justify-content: center;
}

.rounded-container button:hover {
    background-color: #45a049;
}

